body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
}
nav ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
nav ul li{
    display: block;
    margin-right: 20px;
}
img.image{
    width: 200px;
    clear: both;
    float: left;
    margin-bottom: 20px;
}
img.responsive-image{
    float: left;
    clear: both;
    width: 50%;
}
div.main-container,
div.left-column,
div.middle-column,
div.right-column{
    width: 100%;
    outline: 1px solid rgb(41, 1, 78);
}
div.main-container{
    height: 100vh;
}
div.left-column,
div.middle-column,
div.right-column{
    margin-top: 20px;
    min-height: 80vh;
    background-color: rgb(120, 77, 160);
}
@media screen and (min-width:800px){
nav ul li{
    display: inline-block;
}
div.left-column{
    width: 18%;
    margin-right: 0.5%;
    margin-left: 0.5%;
    padding: 0.5%;
    float: left;
    }
div.middle-column{
    width: 58%;
    margin-right: 0.5%;
    margin-left: 0.5%;
    padding: 0.5%;
    float: left;
}
div.right-column{
    width: 18%;
    margin-right: 0.5%;
    margin-left: 0.5%;
    padding: 0.5%;
    float: left;
    }
}